<div class="row">
  <div class="large-12 columns">
    <h1 class="center-text">Tile Collections</h1>
  </div>
</div>

<div class="row">
  <div class="large-10 large-offset-2 columns">
    <table>
      <% @tile_categories.each do |category| %>
        <tr>
          <td><%= image_tag category.image.url(:square) %></td>
          <td><%= link_to category.title, tile_category_path(category)%></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>