<div>
  <h1><%= @tile_category.title%></h1>
  <ul>
    <% @tile_category.tile_groups.each do |tile_group| %>
      <%= image_tag tile_group.image.url(:square) %>
      <li><%= link_to tile_group.name, tile_category_tile_group_path(@tile_category, tile_group) %></li>
    <%end%>
  </ul>

</div>

<div class="row">
  <div class="small-8 columns">8
    <div class="row">
      <div class="small-8 columns">8 Nested
        <div class="row">
          <div class="small-8 columns">8 Nested Again</div>
          <div class="small-4 columns">4</div>
        </div>
      </div>
      <div class="small-4 columns">4</div>
    </div>
  </div>
  <div class="small-4 columns">4</div>
</div>