<div>
  <h1>House Plaques</h1>
  <% @house_plaques.each do |plaque| %>
    <h3><%= plaque.name %></h3>
    <ul>
      <% plaque.finishes.each do |finish| %>
        <li><%= "#{finish.description} #{finish.category}-#{finish.series_no}-#{finish.finish}"%></li>
      <%end%>
  <%end%>

</div>